<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="header/header.directive.js"></script>
	<script type="text/javascript" src="testNumber/testNumber.directive.js"></script>
	<script type="text/javascript" src="numberList/numberList.directive.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app="test" ng-controller="testController">
	<div class="content">

		<test-header
			on-show-all="onShowAll"
			on-show-even="onShowEven"
			on-show-odd="onShowOdd"
			on-numbers-change="onNumbersChange" >
		</test-header>

		<div class="results-space container">
			<div class="buttons-holder">
				<button ng-click="turnNumbers(true)">Display on the left</button>
				<button ng-click="turnNumbers()">Display on the right</button>
			</div>
		</div>

		<number-list
			numbers="numbers"
			show-even="showEven"
			show-odd="showOdd"
			display-left="displayLeft" >
		</number-list>

	</div>
</body>
</html>
