html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.clearfix {
  overflow: auto;
}

.content {
	height: 100%;
	background-color: #ffc356;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 20px;
}

.controls-holder {
	background-color: orange;
}

.controls-holder .active {
  color: #e20000;
}

.numbers-holder {
	display: inline-block;
}

.buttons-holder {
	float: right;
}

.list {
	margin: 10px;
}

.list.list-right {
	text-align: right;
}
.list.list-left {
	text-align: left;
}

test-number {
	clear: both;

}

.list .test-number {
	margin: 0 10px;
}
