<header class="controls-holder container">

  <div class="numbers-holder">
    <input
      type="number"
      placeholder="Min number"
      ng-model="minNumber"
      ng-change="buildNumbers()"
      ng-model-options="{ updateOn: 'default blur' }" >
    <input
      type="number"
      placeholder="Max number"
      ng-model="maxNumber"
      ng-change="buildNumbers()"
      ng-model-options="{ updateOn: 'default blur' }" >
  </div>

  <div class="buttons-holder">
    <button
        ng-click="showAll()"
        ng-class="{ active: isShowingAll }" >
      Show all numbers
    </button>
    <button
        ng-click="showEven()"
        ng-class="{ active: isShowingEven }" >
      Show even numbers
    </button>
    <button
        ng-click="showOdd()"
        ng-class="{ active: isShowingOdd }" >
      Show odd numbers
    </button>
  </div>

</header>
